@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
*{
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}
body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.container{
    width: 100%;
    height: 100%;
    margin-top: 100px;
    padding: 0;
}
h1{
    text-align: center;
}
.container__add-task{
    margin: 20px 100px 0 100px;
    width: 90%;
}
label{
    display: block;
}
input{
    margin-top: 5px;
    margin-bottom: 30px;
    width: 100%;
    height: 40px;
}
textarea{
    display: block;
    margin-bottom: 10px;
    margin-top: 5px;
    width: 100%;
    height: 100px;
}
.container__add-task button{
    width: 100px;
    height: 40px;
    background-color: rgb(40, 87, 18);
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: larger;
}


.container__read-task{
    margin: 20px 100px 0 100px;
    width: 90%;
    height: 100%;
    padding: 0;
    border-top: solid 1px rgb(81, 36, 187);
}
.read-task-header{
    display: flex;
    justify-content: space-between;
}
h3{
    width: 25%;
}
.read-task{
    display: flex;
    border-top: solid 1px black;
}
p{
    width: 25%;
    padding-right: 60px;
}
.read-task button{
    margin-top: 20px;
    width: 70px;
    height: 63px;
    background-color: rgb(53, 105, 73);
    color: rgb(231, 228, 228);
    border: none;
    border-radius: 10px;
    cursor: pointer;
}